.container{
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	@include media-query('md', 'desktop-first') {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.icon{
	display: inline-block;
}

img{
	max-width: 100%;
}

// List styles

.inline-list{
	li{
		display: inline-block;
		margin-right: 5px;
	}
}

.square{
	li{
		list-style-type: square;
	}
}

.white-bg{
	background: $white;
}

.maingrey-bg{
	background: $grey-main;
}

.lightgrey-bg{
	background: $superlightgrey;
}

// Icons

.icon{
	display: inline-block;
}

.menu-icon{
	width: 25px;
	height: 25px;
}

.menu-icon__white{
	fill: $white;
}

.icon-search{
	width: 25px;
	height: 25px;
}

.icon-search__white{
	fill: $white;
}