.container{
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
/*  Prevents Flickering  */
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	@include media-query('md', 'desktop-first') {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.icon{
	display: inline-block;
}

