//Breadcrumbs
		.crumbs li {
			display: inline-block;
		}
		.crumbs li:after {
			content: '→';
			padding: 0 0.25em 0 0.5em;
			color: #999;
		}
.crumbs{
	li{
		&:last-of-type{
			&:before,&:after{
				content: none;
			}
			a{
				color: $grey;
			}
		}
	}
}




//Simple page header

.b_simple_page_header{
	padding-top: 2em;
	padding-bottom: 2em;
}

//Sidebar page header
.page-header__grey-bg{
	background-color: $grey-main;
	
}


.page-header__grey-bg--inner{
	padding: 2em 0;
	@include media-query('lg', 'mobile-first'){
		padding: 4em 1em;
		text-align: center;
	}
	.page_title{
		padding-bottom: 25px;
		border-bottom: 1px solid $grey-main;
	}
	.breadcrumbs-post{
		margin-top: 15px;
	}
}
// Courses

.lesson-card{
	border: 1px solid $grey-main;
	max-width: 392px;
}

.lesson-card--desc{
	background: #FFF;
	padding: 0 12px 12px;
}

// Page sidebar

// .b_page-left-sidebar__content-wrapper{
//     @include media-query('lg', 'mobile-first') {
//         width: 780px;
//         margin-left: auto;
//         margin-right: auto;
//     }
// }
.page-sidebar{
	margin-top: 1.5em;
}

.b_page-left-sidebar__content{
	margin-bottom: 4em;
}

.page-sidebar__left{
	border-right: 1px solid $grey-main;
}

.page-sidebar__right{
	border-left: 1px solid $grey-main;
}

.page-sidebar__links{
	li{
		margin-bottom: 5px;
		a{
			color: $darkblue;
			&:hover{
				color: $red;
			}
		}
	}
}

.page-sidebar{
	.page-sidebar__widget{
		&:first-child{
			padding-top: 0;
		}
	}
}

.page-sidebar__widget{
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid $grey-main;
}

.b_email_subscribe-in-content{
	background-color: $grey-main;
	padding: 4em 3em;
	@include media-query('md', 'desktop-first'){
	padding: 2em;
}
	h4{
		margin-bottom: 27px;
	}
}

.after-content__widget{
	margin-bottom: 2em;
}

#kb-sidebar{
    @include media-query('md', 'desktop-first') {
        display: none;
    }	
}

.lessons-navigation{
	background-color: $grey-main;
	text-align: center;
}

.lessons-navigation__links{
	li{
		a{
			padding: 1.5em 0;
			display: block;
		}
		@include media-query('md', 'desktop-first') {
        	display: block;
        	margin: 0;
        	a{
        		padding: 0.5em;
        		border-bottom: 1px solid $grey;
        	}
    	}
		display: inline-block;
		margin-right: 2em;
		font-size: 2em;
	}
}

.lessons-navigation__links--active{
		a{
			position: relative;
			color: $red;
		&:after{
			content: '';
			display: block;
			position: absolute;
			bottom: 0;
			left: calc(50% - 22px);
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 20px 20px 20px;
			border-color: transparent transparent #ffffff transparent;
	}
	@include media-query('md', 'desktop-first') {
			&:after{
				display: none;
			}
		}
	}
	}
	



.b_lesson__time__day{
	font-size: 4rem;
}

.b_lesson__time__month{
	font-size: 1.2rem;
}

// Social icons

.soc-icon__white{
	fill: $white;
}

.soc-icon__m{
	width: 28px;
	height: 24px;
}

.icon-vk__square{
	background: $vk;
	padding: 8px 8px 3px;
}

.icon-yout__square{
	background: $youtube;
	padding: 8px 8px 3px;
}

.icon-fb__square{
	background: $facebook;
	padding: 8px 8px 3px;
}

.icon-tw__square{
	background: $twitter;
	padding: 8px 8px 3px;
}

.icon-instagram__square{
background-color: $white;
	padding: 8px 8px 3px;
}

// 404 Frog

.frognotfound{
	margin: 3em 0;
}

// Alerts
.alert{
	padding: 15px;
	border-radius: 3px;
	border: 1px solid transparent;
}

.alert-danger{
	color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1
}

.alert-success{
	color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

// Content managmeent

.entry-content{
	font-size: 16px;
}

.entry-content__post{
	p{
		&:first-of-type{
			font-family: Georgia, 'Times New Roman', serif;
			font-size: 120%;
			line-height: 1.55555;			
		}
	}
}


// Raveform responsive

.ravechart-page-wrapper{
	max-width: 910px;
	margin: 0 auto;
}

@include media-query('lg', 'mobile-first'){
	.mform__label{
		min-width: 77px;
		display: inline-block;
		font-family: $haasbold;
	}
	.mform__select{
		max-width: 160px;
	}
}

#subbtn{
	margin-top: 1em;
}

#mapresult{
	margin-top: 1em;
}

.chart_label{
	margin-right: 10px;
}

.chart_definition{
	font-family: $haasbold;
	font-weight: 700;
}

.mapresult__ravechart{
	margin: 1em 0;
	text-align: center;
}

#print_ravechart{
	display: none;
}

// Flexsliders

// h o m e s l d r

#homeslide-1{
	background-image: url('../img/home_slide_1.png');
}

	.homeslide-1__content{
		line-height: 1.3;
		padding: 2.8em 0;
	    @include media-query('md', 'desktop-first') {
	        padding: 1em 0;
	    }
	}

#homeslide-2{
	background-image: url('../img/perspective_chart.png');
}

.background-slide{
	background-repeat: no-repeat;
	background-size: cover;
}