.blog-list--post{
	position: relative;
	margin-bottom: 30px;
}

.blog-list--banner{
	margin-bottom: 30px;
}

.post-time{
	position: absolute;
	top: 8px;
	left: 0;
	width: 50px;
}

.post-time--date{
	display: block;
	font-size: 30px;
	border: 2px solid $darkblue;
	text-align: center;
}

.post-time--month,.post-time--year{
	display: block;
	color: $grey;
}

.post-preview{
	margin-left: 70px;
}

.post-preview--link{
	margin-top: 0;
	margin-bottom: 5px;
	font-size: 18px;
	a{
		color: $darkblue;
		border-bottom: 1px solid $grey;
		&:hover{
			color: $red;
			border-bottom: 1px solid $red;
		}
	}
}

.post-preview--teaser{
	margin-top: 0;
	font-size: 16px;
}

.post-preview--tags{
	ul{
		li{
			display: inline-block;
			margin-right: 10px;
			a{
				color: $grey;
				text-decoration: underline;
				&:hover{
					color: $darkblue;
				}
			}
		}
	}
}

//Featured post
.b_featured-posts{
	overflow: hidden;
}

.example-img-grid {
    display: block;
    padding-top: 100%;
    -ms-flex-positive: 1;
    -webkit-flex-grow: 1;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.example-img-grid-footer {
    position: absolute;
    bottom: 2em;
    left: 1em;
    right: 1em;
    margin-bottom: 2.2em;
    padding: 0 1em;
    color: #fff;
    z-index: 3;
}

.cover-trigger{
	width: 100%;
    left: 0;
    position: absolute;
    display: block;
    top: 0;
    z-index: 3;
    // @include linear-gradient(to top, rgba(0,0,0,0.4), rgba(255,255,255,0.2));
    height: 100%;
background: rgb(0, 0, 0);
background: -moz-linear-gradient(270deg, rgba(0, 0, 0,0.8) 25%, rgba(255, 255, 255,0.1) 100%);
background: -webkit-linear-gradient(270deg, rgba(0, 0, 0,0.8) 25%, rgba(255, 255, 255,0.1) 100%);
background: -o-linear-gradient(270deg, rgba(0, 0, 0,0.8) 25%, rgba(255, 255, 255,0.1) 100%);
background: -ms-linear-gradient(270deg, rgba(0, 0, 0,0.8) 25%, rgba(255, 255, 255,0.1) 100%);
background: linear-gradient(0deg, rgba(0, 0, 0,0.8) 25%, rgba(255, 255, 255,0.1) 100%);    
}

.featured-post_content--info{
    position: absolute;
    bottom: 2em;
    left: 1em;
    right: 1em;
    color: #fff;
    z-index: 3;
    padding: 0 1em;
	li{
		display: inline-block;
		margin-right: 7px;
		color: rgba(255,255,255,.6);
		font-size: 12px;
	}
}

.featured-post{
	overflow: hidden;
	&:hover{
		.cover-trigger{
			@include transition(all 0.2s ease-in);
			opacity: 0.5;
		}
	}
    @include media-query('md', 'desktop-first') {
        margin-bottom: 15px;
    }	
}

.featured-post__xl{
	max-height: 565px;
	position: relative;
	overflow: hidden;
}

.featured-post__m{
	max-height: 315px;
	position: relative;
	overflow: hidden;
}

.featured-post__s{
	max-height: 315px;
	position: relative;
	overflow: hidden;
}

.blog-section{
	padding-top: 25px;
}

// Latest posts

.post-card__thumbnail{
	background-repeat: no-repeat;
	background-size: cover;
	display: block;
	width: 100%;

	height: 0;
	overflow: hidden;
	padding-top: 50%;
	margin-bottom: 8px;
}

.latest-posts__from-category--link{
	display: block;
	position: relative;
	padding: 6px 0 6px 14px;
	&:before{
		content: ' ';
		display: inline-block;
		position: absolute;
		top: 15px;
		left: 0;
		width: 5px;
		height: 5px;
		background-color: $red;
	}
}

.posts-block-title{
	span{
		display: block;
		margin-bottom: 7px;
		text-transform: uppercase;
	}
}

// Sidebar
.blog-sidebar{
	margin-top: 25px;
	border-left: 1px solid #f3f3f3;
	padding-left: 30px;
}



// Categories widget
.blog-sidebar--widget{
	margin-bottom: 30px;
}

.categories-widget{
	li{
		margin-bottom: 8px;
		a{
			color: $darkblue;
			text-decoration: underline;
			&:hover{
					color: $red;
				}	
		}
	}
}

.client-email-subscribe{
	max-width: 75% !important;
	padding-right: 20px;
}

.client-email-subscribe--ok{
	margin-left: -20px;
	margin-top: -3px;
}

.email-widget{
	margin-bottom: 15px;
	&:before,&:after{
		content: '';
		display: table;
		clear: both;
	}
	img{
		float: left;
		margin-right: 5px;
	}
}

.get-social-widget{
	padding: 0;
		list-style: none;
		margin: 10px 0;
	li{
		display: inline-block;
		margin-right: 10px;
		&:last-of-type{
			margin-right: 0;
		}
	}
}

// Single article
.byline-author-ava{
	float: left;
	margin-right: 10px;
}

.post-header{
	h1{
		line-height: 1.22222;
		margin-top: 10px;
	}
}

.post{
	margin-top: 25px;
}

.lead{
	font-family: Georgia, 'Times New Roman', serif;
	font-size: 120%;
	line-height: 1.55555;
}

.post-content{
	font-size: 16px;
}

.byline-category--link{
	color: $grey;
	border-bottom: 1px solid $grey;
	&:hover{
		color: $darkblue;
		border-bottom: 1px solid $darkblue;
	}
}

.byline-author--link{
	color: $grey;
	&:hover{
		color: $darkblue;
	} 
}

.post-header--byline{
	margin: 15px 0;
}

.blog-list--greybg{
	background: $superlightgrey;
	padding: 35px;
	.blog-list--post{
		&:last-of-type{
			margin-bottom: 0;
		}
	}
}

.post-read-next{
	margin: 45px 0;
}

.post-extra-content-title{
	font-size: 120%;
	color: $red;
	border-top: 1px solid $red;
	padding-top: 15px;
}