.b_primary_footer{
	background: $darkblue;
}

// SITE INFO
.b_site_information{
	padding-top: 2.5em;
}


//Contacts

.footer_contacts{
	li{
		color: #FFF;
		font-family: $haasbold;
		font-size: 16px;
		&:first-child{
			margin-bottom: 0.5em;
		}
		a{
			color: #FFF;
		}
	}
}

//Copy

.copyright{
	color: #71747c;
}

//Sub_nav

.b_site_information__sub_nav{
	.sub_nav__title{
		color: #71747c;
		font-size: 16px;
		margin: 0 0 20px 0;
	}
}

.sub_nav_item_dark{
	margin-bottom: 5px;
	a{
		color: #FFF;
		text-decoration: none;
		&:hover{
			color: $red;
		}
	}
}

.b_primary_footer__bottom{
	border-top: 1px solid #202127;
}

#footer-social-widget{
	.get-social-widget{
		@include media-query('lg', 'mobile-first'){
			text-align: right;
		}		
	}
}