// COLORS ------

$darkblue: #262931;
$red: #db484d;
$grey: #a6a6a6;
$grey-main: #f3f3f3;
$superlightgrey: rgba(244,244,244,0.5);
$darkgrey: #848484;
$baselink: #1C68F0;
$white: #FFF;
$vk: #45668e;
$facebook: #3b5998;
$twitter: #55acee;
$youtube: #cd201f;


// FONTS ------

$anglecia: 'AngleciaProDisplay';

$haasreg: 'NeueHaasUnicaW1G';

$haasbold: 'NeueHaasUnicaW1GBold';
$tiny: 12px;