<div class="col-2" id="dashboard-navigation">
<div class="cab-nav">
	<div class="cab-nav--user">
		<!-- User avatar -->
		<div class="cab-nav--user_ava">
			<img src="img/anufriev-ava.png" alt="demo-avatar" class="user-avatar">
		</div>

		<!-- User name -->
		<div class="cab-nav--user_name">
			<span>Артем Ануфриев</span>
		</div>		
	</div>


	<!-- Cabinet navigation -->
    <ul class="cab-nav--links no-list">
        <li class="cab-nav--links-active"><a href="cabinet-index.html"><i class="fa fa-user" aria-hidden="true"></i> Профиль</a></li>
        <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i> Сообщения<span class="cab-nav--notification">2</span></a></li>
        <li><a href="#"><i class="fa fa-bell" aria-hidden="true"></i> Ответы <span class="cab-nav--notification">187</span></a></li>
        <li><a href="#"><i class="fa fa-folder-open" aria-hidden="true"></i> Рейв-карты <span class="dropdown-icon dropdown-icon--dark"></span></a>
			<ul class="no-list cab-nav--links-dropdown">
				<li><a href="cabinet-ravecharts.html" title="Ваша личная картотека"><i class="fa fa-book" aria-hidden="true"></i> Все рейв-карты</a></li>
				<li class="cab-nav--add-new"><a href="cabinet-add-new-ravechart.html" title="Добавить новую рейв-карту"><i class="fa fa-plus" aria-hidden="true"></i> Добавить новую</a></li>
				<li class="cab-nav-dropdown--divider">Категории рейв-карт</li>
				<li class="cab-nav--chart-category"><a href="#" title="Семья"><i class="fa fa-circle-o" aria-hidden="true"></i> Семья</a></li>
				<li class="cab-nav--chart-category"><a href="#" title="Работа"><i class="fa fa-circle-o" aria-hidden="true"></i> Работа</a></li>
				<li class="cab-nav--chart-category"><a href="#" title="Общество с ограниченной ответственностью"><i class="fa fa-circle-o" aria-hidden="true"></i> Общество с ограниченной ответственностью</a></li>
			</ul>
        </li>
        <li><a href="/cabinet-feedback.html"><i class="fa fa-file-text" aria-hidden="true"></i> Отзыв</a></li>
        <li><a href="/cabinet-settings.html"><i class="fa fa-cog" aria-hidden="true"></i> Настройки</a></li>
    </ul>    
</div>
</div>