        <!-- FOOTER -->
        <footer class="b_primary_footer" id="b_site_footer">
            <div class="b_primary_footer__navigation">
                <div class="container">
                    <!-- Logo -->
                    <div class="b_primary_header__logo"><a href="index.html"><img src="img/logo.png" alt="HumanDesignLife" width="84px;" height="74px;"></a></div>

                    <!-- Navigation -->
                    <nav class="b_primary_footer__main_nav">
                        <ul class="no-list site_nav_invert">
                            <li class="site_nav_item"><a href="start.html"><svg class="nav_icon icon-bulb19"><use xlink:href="#icon-bulb19"></use></svg> С чего начать</a></li>
                            <li class="site_nav_item"><a href="ravechart.html"><svg class="nav_icon icon-rave_icon"><use xlink:href="#icon-rave_icon"></use></svg>Расчет карты</a></li>                        
                            <li class="site_nav_item"><a href="lessons.html"><svg class="nav_icon icon-calendar-icons"><use xlink:href="#icon-calendar-icons"></use></svg>Расписание занятий</a></li>
                            <li class="site_nav_item"><a href="guide.html"><svg class="nav_icon icon-graduation1"><use xlink:href="#icon-graduation1"></use></svg>Как стать гидом?</a></li>
                            <li class="site_nav_item"><a href="knowledgebase.html"><svg class="nav_icon icon-book201"><use xlink:href="#icon-book201"></use></svg>База знаний</a></li>
                            <li class="site_nav_item"><a href="feedback.html"><svg class="nav_icon icon-message31"><use xlink:href="#icon-message31"></use></svg> Отзывы</a></li>
                            <li class="site_nav_item"><a href="forum.html"><svg class="nav_icon icon-socialnetwork156"><use xlink:href="#icon-socialnetwork156"></use></svg>Форум</a></li>
                        </ul>
                    </nav>

                    
                </div> 
            </div>
            
            <div class="b_site_information">
                    <div class="container">

                        <div class="col-4">
                            <ul class="no-list footer_contacts">
                                <li><span class="phone_white_icon"></span> 8(800)700-60-00</li>
                                <li><span class="envelope_white_icon"></span> <a href="mailto:info@hdlife.center">info@hdlife.center</a></li>
                            </ul>
                            <p class="copyright">Общество с ограниченной ответственностью
                                <br>“Осознанность”. Юр.Адрес: Санкт-Петербург г, ул.Ольховая, д.20А, оф.11-Н. 

                                <br>ИНН 7814591683 ОГРН 1137847438057 КПП 781401001</p>
                            <p class="copyright">Использование материалов с сайта разрешено только с согласия правообладателей. © 2012–2014.<br> HumanDesignLife - Все права защищены.</p>    
                        </div>

                        <div class="col-2">
                            <div class="b_site_information__sub_nav">
                                <h4 class="sub_nav__title">Наука "Дизайн Человека"</h4>
                                <ul class="no-list">
                                    <li class="sub_nav_item_dark"><a href="#">Концепции науки</a></li>
                                    <li class="sub_nav_item_dark"><a href="#">История появления</a></li>
                                    <li class="sub_nav_item_dark"><a href="#">Интересные факты</a></li>
                                    <li class="sub_nav_item_dark"><a href="#">Как это работает?</a></li>
                                    <li class="sub_nav_item_dark"><a href="#">Видео-материалы</a></li>
                                </ul>
                            </div>                            
                        </div>

                        <div class="col-2">
                            <div class="b_site_information__sub_nav">
                                <h4 class="sub_nav__title">Консультации</h4>
                                <ul class="no-list">
                                    <li class="sub_nav_item_dark"><a href="#">Чтение рейв-карты</a></li>
                                    <li class="sub_nav_item_dark"><a href="#">Чтение рейв-карты ребенка</a></li>
                                    <li class="sub_nav_item_dark"><a href="#">Аналитика взаимоотношений</a></li>
                                </ul>
                            </div>                            
                        </div>                                                  

                        <div class="col-2">
                            <div class="b_site_information__sub_nav">
                                <h4 class="sub_nav__title">Полезные ссылки</h4>
                                <ul class="no-list">
                                    <li class="sub_nav_item_dark"><a href="#">Личный кабинет</a></li>
                                    <li class="sub_nav_item_dark"><a href="#">Форум</a></li>
                                    <li class="sub_nav_item_dark"><a href="#">Купить книги по "Дизайну Человека"</a></li>
                                    <li class="sub_nav_item_dark"><a href="#">Вопрос/Ответ</a></li>
                                </ul>
                            </div>                            
                        </div>                                              

                        <div class="col-2">
                            <div class="b_site_information__sub_nav">
                                <h4 class="sub_nav__title">О нас</h4>
                                <ul class="no-list">
                                    <li class="sub_nav_item_dark"><a href="#">Мы в лицах</a></li>
                                    <li class="sub_nav_item_dark"><a href="#">Фото-отчеты</a></li>
                                    <li class="sub_nav_item_dark"><a href="#">Новости</a></li>
                                    <li class="sub_nav_item_dark"><a href="#">Лицензии IHDS</a></li>
                                    <li class="sub_nav_item_dark"><a href="#">Свяжитесь с нами</a></li>
                                </ul>
                            </div>                            
                        </div>
                    </div>
                </div>    
        </footer>
        

    </div><!-- /#b_page  -->

    <!-- Scroll icons -->
<!--     <a href="#0" class="side_icon hamburger-side"></a>
    <a href="#0" class="side_icon ravechart-side"></a>
    <a href="#0" class="side_icon kb-side"></a> -->
    <a href="#0" class="cd-top" title="Наверх">Наверх</a><!-- back to top -->
    
        <!--  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
        <!--  <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.3.min.js"><\/script>')</script> -->
        <script src="js/jquery.min.js"></script>
        <script src="js/jquery.flexslider-min.js"></script>
        <script src="js/jquery.tablesorter.min.js"></script>
        <script src="js/ckeditor/ckeditor.js"></script>
        <script src="js/main.js"></script> 
        
    </body>
</html>