
    </div>

    	<!-- Site menu on mobile -->
        <div class="sb-slidebar sb-left">
        	<div class="slidebar-content">
        		<nav class="slidebar-content--widget">
        			<ul class="site-mobile--navigation">
        				<li><a href="#">С чего начать</a></li>
        				<li><a href="#">Расчет карты</a></li>
        				<li><a href="#">Расписание занятий</a></li>
        				<li><a href="#">Блог</a></li>
        				<li><a href="#">База знаний</a></li>
        				<li><a href="#">Отзывы</a></li>
        				<li><a href="#">Форум</a></li>
        			</ul>
        		</nav>

        		<div class="slidebar-content--widget">
        			<ul class="site-mobile--links">
        				<li><a href="#">Новости школы</a></li>
        				<li><a href="#">Лицензия IHDS</a></li>
        				<li><a href="#">Наши преподаватели</a></li>
        				<li><a href="#">Контакты</a></li>
        			</ul>
        		</div>

        		<div class="slidebar-content--widget">
        			<ul class="site-mobile--links">
        				<li><a href="#" class="dark-bold-link">Войти на сайт</a></li>
        				<li><a href="#" class="red-bold-link">Зарегистрироваться</a></li>
        			</ul>
        		</div>


        	</div><!-- /end .slidebar-content -->        	
        </div> <!-- /end .slidebar-itself -->   
        <script src="js/jquery.min.js"></script>
        <script src="js/jquery.flexslider-min.js"></script>
        <script src="js/slidebars.min.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>