                <!-- FOOTER -->
        <footer class="b_primary_footer" id="b_site_footer" role="contentinfo" itemscope itemtype="http://schema.org/WPFooter">
            
            <div class="b_site_information">
                    <div class="container">
                        <div class="grid">
                        <div class="grid__col-12 grid__col-md-4">
                            <ul class="no-list footer_contacts">
                                <li>8(800)700-60-00</li>
                                <li><span class="envelope_white_icon"></span> <a href="mailto:info@hdlife.center">info@hdlife.center</a></li>
                            </ul>
                            <p class="copyright">Human Design Life - это школа системы Дизайна Человека, состоящая из сертифицированных преподавателей. Мы проводим классические и профессиональные курсы по системе Дизайна Человека, оказываем консультации по индивидуальному прочтению рейв-карты, здоровья (PHS) и бизнес-консультации (BG5).</p>
   
                        </div>

                        <div class="grid__col-12 grid__col-md-2">
                            <div class="b_site_information__sub_nav">
                                <h4 class="sub_nav__title">О Дизайне Человека</h4>
                                <ul class="no-list">
                                <li class="sub_nav_item_dark"><a href="#">Сделать свою рейв-карту</a></li>
                                <li class="sub_nav_item_dark"><a href="#">Как это работает?</a></li>
                                <li class="sub_nav_item_dark"><a href="#">С чего начать?</a></li>
                                    <li class="sub_nav_item_dark"><a href="#">Концепции науки</a></li>
                                    <li class="sub_nav_item_dark"><a href="#">История появления</a></li>
                                    <li class="sub_nav_item_dark"><a href="#">База знаний</a></li>
                                    
                                </ul>
                            </div>                            
                        </div>

                        <div class="grid__col-12 grid__col-md-2">
                            <div class="b_site_information__sub_nav">
                                <h4 class="sub_nav__title">Консультации</h4>
                                <ul class="no-list">
                                    <li class="sub_nav_item_dark"><a href="#">Прочтение рейв-карты</a></li>
                                    <li class="sub_nav_item_dark"><a href="#">Прочтение рейв-карты ребенка</a></li>
                                    <li class="sub_nav_item_dark"><a href="#">Прочтение здоровья (PHS)</a></li>
                                    <li class="sub_nav_item_dark"><a href="#">Аналитика взаимоотношений</a></li>
                                </ul>
                            </div>                            
                        </div>                                                  

                        <div class="grid__col-12 grid__col-md-2">
                            <div class="b_site_information__sub_nav">
                                <h4 class="sub_nav__title">Рубрики блога</h4>
                                <ul class="no-list">
                                    <li class="sub_nav_item_dark"><a href="#">Дизайн Человека</a></li>
                                    <li class="sub_nav_item_dark"><a href="#">Взаимоотношения</a></li>
                                    <li class="sub_nav_item_dark"><a href="#">Здоровье</a></li>
                                    <li class="sub_nav_item_dark"><a href="#">Видео-материалы</a></li>
                                </ul>
                            </div>                            
                        </div>                                              

                        <div class="grid__col-12 grid__col-md-2">
                            <div class="b_site_information__sub_nav">
                                <h4 class="sub_nav__title">О нас</h4>
                                <ul class="no-list">
                                    <li class="sub_nav_item_dark"><a href="#">Мы в лицах</a></li>
                                    <li class="sub_nav_item_dark"><a href="#">Фото-отчеты</a></li>
                                    <li class="sub_nav_item_dark"><a href="#">Новости</a></li>
                                    <li class="sub_nav_item_dark"><a href="#">Лицензии IHDS</a></li>
                                    <li class="sub_nav_item_dark"><a href="#">Для прессы</a></li>
                                    <li class="sub_nav_item_dark"><a href="#">Свяжитесь с нами</a></li>
                                </ul>
                            </div>                            
                        </div>
                    </div>

                    <div class="grid b_primary_footer__bottom">
                        <div class="grid__col-12 grid__col-md-7">
                            <p class="copyright small">Рейв-карта(бодиграф, rave-chart, The Rave BodyGraph™, Rave Mandala™) - это интеллектуальная, запатентованная собственность компании Jovian Archive Media Inc и представлена на этом сайтом только в ознакомительных целях.</p>
                        </div>

                        <div class="grid__col-12 grid__col-md-5 text-right">
                                <ul class="get-social-widget">
                                    <li><a href="#"><img src="img/sprite/vk-square.png" alt="группа вконтакте"></a></li>
                                    <li><a href="#"><img src="img/sprite/facebook-square.png" alt="группа фейсбук"></a></li>
                                    <li><a href="#"><img src="img/sprite/youtube-square.png" alt="канала youtube"></a></li>
                                    <li><a href="#"><img src="img/sprite/twiter-square.png" alt="наш твиттер"></a></li>
                                </ul>
                        </div>                        
                    </div>

                </div>    
        </footer>
    
</div> 
        <script src="js/jquery.min.js"></script>
        <script src="js/jquery.flexslider-min.js"></script>
        <script src="js/slideout.min.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>