<div id="sb-site">
        <!--[if lt IE 8]>
            <p class="browserupgrade">Вы используете <strong>очень старый</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">обновите ваш браузер</a> для того, чтобы сделать веб-серфинг безопасным и эффективным.</p>
        <![endif]-->
    <div id="b_site-desktop-header">
        <!-- SITE TOP BAR -->
        <div class="b_top_bar">
            <div class="container">

                <!-- Phone -->
                <div class="b_top_bar__phone">
                    <span class="phone_number"><i class="icon icon-Telephone"></i> (800) <strong>600-70-70</strong></span>
                </div>

                <!-- Sub-navigation -->
                <div class="b_top_bar__sub_nav">
                    <ul class="sub_nav">
                        <li class="sub_nav__item"><a href="#">Новости школы</a></li>
                        <li class="sub_nav__item"><a href="#">Лицензия IHDS</a></li>
                        <li class="sub_nav__item"><a href="#">Купить книги по Human Design</a></li>
                        <li class="sub_nav__item"><a href="contacts.html">Контакты</a></li>
                    </ul>
                </div>

                <!-- Login -->
                <div class="b_top_bar__login text-right">                    
                        <ul class="login_details">
                            <li class="login_link">
                                <a href="#" class="login_top" data-jq-dropdown="#b_top_bar__login___form-login"><i class="icon icon-Key"></i> Войти</a>
                            </li>
                            <li class="login_link"><a href="#" class="register_top"><i class="icon icon-Pencil"></i> Зарегестрироваться</a></li>
                        </ul>   
                </div>   
        </div>
        </div>
        <!-- PRIMARY HEADER -->
        <header class="b_primary_header">
            <div class="container">
                <div class="site-nav-wrapper">
                <!-- Logo -->
                <div class="b_primary_header__logo"><a href="index.html"><img src="img/logo.png" alt="HumanDesignLife" width="84px;" height="74px;"></a></div>

                <!-- Navigation -->
                <nav class="b_primary_header__main_nav">
                    <ul class="site_nav">
               <li class="site_nav_item"><a href="start.html"><svg class="nav_icon icon-bulb19"><use xlink:href="#icon-bulb19"></use></svg> С чего начать</a></li>
                        <li class="site_nav_item"><a href="ravechart.html"><svg class="nav_icon icon-rave_icon"><use xlink:href="#icon-rave_icon"></use></svg>Расчет карты</a></li>                        
                        <li class="site_nav_item"><a href="lessons.html"><svg class="nav_icon icon-calendar-icons"><use xlink:href="#icon-calendar-icons"></use></svg>Обучение</a></li>
                        <li class="site_nav_item"><a href="blog.html"><svg class="nav_icon icon-graduation1"><use xlink:href="#icon-graduation1"></use></svg>Блог</a></li>
                        <li class="site_nav_item"><a href="kb-sidebar.html"><svg class="nav_icon icon-book201"><use xlink:href="#icon-book201"></use></svg>База знаний</a></li>
                        <li class="site_nav_item"><a href="feedback.html"><svg class="nav_icon icon-message31"><use xlink:href="#icon-message31"></use></svg> Отзывы</a></li>
                        <li class="site_nav_item"><a href="forum.html"><svg class="nav_icon icon-socialnetwork156"><use xlink:href="#icon-socialnetwork156"></use></svg>Форум</a></li>
                    </ul>
                    </nav>
                </div>
            </div>
    </header>
</div><!-- END Desktop header -->

<!-- Mobile header -->
<header class="b_site-mobile-header">

    <div class="site-mobile-nav">
        <a href="#" class="sb-toggle-left white site-mobile-buttons" id="site-mobile-nav-trigger"><i class="icon icon-Align-Right"></i></a>
    </div>

    <div class="site-mobile-logo">
        <a href="www.google.com" target="_blank"><img src="img/mobile-logo.svg" alt="HumanDesignLife" class="site-mobile-logo--svg"></a>
    </div>
    
    <div class="site-mobile-search">
        <a href="#" class="white site-mobile-buttons" id="site-mobile-search-trigger"><i class="icon icon-Magnifi-Glass2"></i></a>
    </div>

    <div class="site-mobile-search--bar">
        <form action="#">
            <input type="search" id="site-mobile-search--input" placeholder="Введите запрос...">
        </form>
    </div>
         
</header>

