<div id="sb-site">
        <!--[if lt IE 8]>
            <p class="browserupgrade">Вы используете <strong>очень старый</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">обновите ваш браузер</a> для того, чтобы сделать веб-серфинг безопасным и эффективным.</p>
        <![endif]-->
    
        <!-- SITE TOP BAR -->
        <div class="b_top_bar">
            <div class="container">

                <div class="grid">
                <!-- Phone -->
                <div class="grid__col-md-2 grid__col--bleed b_top_bar__phone"><span class="phone_number"><i class="icon icon-Telephone"></i> (800) <strong>600-70-70</strong></span></div>

                <!-- Sub-navigation -->
                <div class="grid__col-md-7 grid__col--bleed b_top_bar__sub_nav">
                    <ul class="sub_nav">
                        <li class="sub_nav__item"><a href="#">Новости школы</a></li>
                        <li class="sub_nav__item"><a href="#">Лицензия IHDS</a></li>
                        <li class="sub_nav__item"><a href="#">Купить книги по Human Design</a></li>
                        <li class="sub_nav__item"><a href="contacts.html">Контакты</a></li>
                    </ul>
                </div>

                <!-- Login -->
                <div class="grid__col-md-3 grid__col--bleed b_top_bar__login text-right">                    
                        <ul class="login_details">
                            <li class="login_link">
                                <a href="#" class="login_top" data-jq-dropdown="#b_top_bar__login___form-login"><i class="icon icon-Key"></i> Войти</a>
                            </li>
                            <li class="login_link"><a href="#" class="register_top"><i class="icon icon-Pencil"></i> Зарегестрироваться</a></li>
                        </ul>   
                </div>
            </div>    
        </div>
        </div>
        <!-- PRIMARY HEADER -->
        <header class="b_primary_header">
            <div class="container">
                <div class="grid grid--align-center">
                <!-- Logo -->
                <div class="b_primary_header__logo grid__col-md-2 grid__col--bleed"><a href="index.html"><img src="img/logo.png" alt="HumanDesignLife" width="84px;" height="74px;"></a></div>

                <!-- Navigation -->
                <nav class="b_primary_header__main_nav grid__col-md-10 grid__col--bleed">
                    <ul class="site_nav">
                        <li class="site_nav_item"><a href="start.html">С чего начать</a></li>
                        <li class="site_nav_item"><a href="ravechart.html">Расчет карты</a></li>                        
                        <li class="site_nav_item"><a href="lessons.html">Расписание занятий</a></li>
                        <li class="site_nav_item"><a href="blog.html"></svg>Блог</a></li>
                        <li class="site_nav_item"><a href="kb-sidebar.html">База знаний</a></li>
                        <li class="site_nav_item"><a href="feedback.html">Отзывы</a></li>
                        <li class="site_nav_item"><a href="forum.html">Форум</a></li>
                    </ul>
                    </nav>
</div>
                </div>
                
        </header>

