                            <aside class="page-sidebar">
                            <!-- Page sidebar widget -->
                            <div class="page-sidebar--widget">
                                <h4 class="widget-title">Наука Дизайн Человека</h4>
                                    <ul class="no-list kb-list">
                                    <li><a href="kb-sidebar-single.html">Что такое Система Дизайна Человека?</a></li>
                                    <li><a href="#">Синтез наук в Системе Дизайна Человека</a></li>
                                    <li><a href="#">Что такое Нейтрино?</a></li>
                                    <li><a href="#">Что движет нами?</a></li>
                                    <li><a href="#">Как это работает?</a></li>
                                    <li><a href="#">Инструменты Системы Дизайна Человека</a></li>
                                    <li><a href="#">О Ра Уру Ху и происхождении Системы Дизайна Человека</a></li>
                                    </ul>                                
                            </div>                            

                            <!-- Page sidebar widget -->
                            <div class="page-sidebar--widget">
                                <h4 class="widget-title">Типы личностей</h4>
                                    <ul class="no-list kb-list">
                                    <li><a href="#">Генератор</a></li>
                                    <li><a href="#">Манифестирующий Генератор</a></li>
                                    <li><a href="#">Манифестор</a></li>
                                    <li><a href="#">Проектор</a></li>
                                    <li><a href="#">Рефлектор</a></li>
                                    </ul>                                
                            </div>                            

                            <!-- Page sidebar widget -->
                            <div class="page-sidebar--widget">
                                <h4 class="widget-title">Стратегии</h4>
                                    <ul class="no-list kb-list">
                            <li><a href="#">Откликаться</a></li>
                            <li><a href="#">Информировать</a></li>
                            <li><a href="#">Ждать приглашения</a></li>
                            <li><a href="#">Ждать завершение лунного цикла</a></li>
                                    </ul>                                
                            </div>                            

                            <!-- Page sidebar widget -->
                            <div class="page-sidebar--widget">
                                <h4 class="widget-title">Внутренние Авторитеты</h4>
                                    <ul class="no-list kb-list">
                        <li><a href="#">Сакральный</a></li>
                        <li><a href="#">Эмоциональный</a></li>
                        <li><a href="#">Селезеночный</a></li>
                        <li><a href="#">Эго Манифестируемый Авторитет</a></li>
                        <li><a href="#">Само Проецируемый Авторитет</a></li>
                        <li><a href="#">Эго Проецируемый</a></li>
                        <li><a href="#">Нет внутреннего авторитета</a></li>
                        <li><a href="#">Лунный Авторитет</a></li>
                                    </ul>                                
                            </div>                              

                            <!-- Page sidebar widget -->
                            <div class="page-sidebar--widget">
                                <h4 class="widget-title">Центры</h4>
                                    <ul class="no-list kb-list">
                        <li><a href="#">Теменной Центр</a></li>
                        <li><a href="#">Аджна Центр</a></li>
                        <li><a href="#">Горловой Центр</a></li>
                        <li><a href="#">Джи Центр</a></li>                        
                        <li><a href="#">Сердечный Центр</a></li>
                        <li><a href="#">Центр Селезенки</a></li>
                        <li><a href="#">Центр Солнечного Сплетения</a></li>
                        <li><a href="#">Сакральный Центр</a></li>                        
                        <li><a href="#">Корневой Центр</a></li>
                                    </ul>                                
                            </div>                            


                            <!-- Page sidebar widget -->
                            <div class="page-sidebar--widget">
                                <h4 class="widget-title">Профили</h4>
                                    <ul class="no-list kb-list">
                        <li><a href="#">1/3 — Исследователь-Мученик</a></li>
                        <li><a href="#">1/4 — Исследователь-Оппортунист</a></li>
                        <li><a href="#">2/4 — Отшельник-Оппортунист</a></li>
                        <li><a href="#">2/5 — Отшельник-Еретик</a></li>
                        <li><a href="#">3/5 — Мученик-Еретик</a></li>                        
                        <li><a href="#">3/6 — Мученик-Ролевая Модель</a></li>
                        <li><a href="#">4/6 — Оппортунист-Ролевая Модель</a></li>
                        <li><a href="#">4/1 — Оппортунист-Исследователь</a></li>
                        <li><a href="#">5/1 — Еретик-Исследователь</a></li>
                        <li><a href="#">5/2 — Еретик-Отшельник</a></li>                        
                        <li><a href="#">6/2 — Ролевая Модель-Отшельник</a></li>
                        <li><a href="#">6/3 — Ролевая Модель-Мученик</a></li>
                                    </ul>                                
                            </div>                                                             
                            </aside>